@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
        font-family: "Poppins";
        src: local("Poppins"),
                url("./styles/fonts/Poppins/Poppins-Light.ttf") format("woff");
}

body {
        background-color: #F1F1F1;
}

.poppins {
        font-family: "Poppins";
}

.title {
        margin-bottom: 20px;
        padding: 20px
}

.img {
        height: 260px;
        width: 100%
}

.owl-nav {
        display: flex;
        justify-content: end;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
        padding: 0 5px !important;
        color: #fff !important;
        font-weight: bold !important;
        font-size: 1.5rem !important;
}

.owl-carousel .owl-item img {
        width: 5% !important;
        display: inline !important;
}

.triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 35px 0 0;
        border-color: white transparent transparent transparent;
}

.triangle-small {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 6px 6px;
        border-color: transparent transparent #d81212 transparent;

        z-index: 1;
        right: 0px;
        bottom: 27px;
}

.owl-dots .owl-dot span {
        width: 7px;
        height: 7px;
        margin: 5px 5px;
        background: #fff;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px;
}

.owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
        background: #D6D6D6;
        width: 20px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
        padding: 0.5rem !important;
}

img.arrow {
        max-width: 80% !important;
}

.owl-dots {
        position: absolute;
        right: 67px;
        bottom: -1.5px;
}

.owl-carousel {
        position: relative;
}

.owl-next {
        margin-left: 1px !important;
}

.owl-stage .active:nth-child(even) {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        overflow: hidden;
}

.owl-stage .active:nth-child(odd) {
        border-top-left-radius: 7px;
        overflow: hidden;
}

.heroVideo {
        border-radius: 2rem;
        transform: translate(0, -38%);
}

.services-tab {
        border-radius: 2rem;
        transform: translate(0, -62%);
        z-index: 0;
}

.heroText {
        position: absolute;
        top: 0;
        left: 35%;
}

.styles-module_buttonSend__kXjja {
        margin: auto !important;
}

.modal__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(28, 28, 28, 0.19);
        backdrop-filter: blur(6px);
        opacity: 1;
        animation-timing-function: ease-out;
        animation-duration: 0.3s;
        animation-name: modal-video;
        -webkit-transition: opacity 0.3s ease-out;
        -moz-transition: opacity 0.3s ease-out;
        -ms-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
        z-index: 100;
}

.modal__align {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.modal__content {
        /* width: 800px;
        height: 500px; */
        width: 90vw;
        height: 54vh;
        box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07),
                0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112),
                0px 7.779px 7.30492px rgba(0, 0, 0, 0.035),
                0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
        border-radius: 20px;
        background: transparent;
        color: #000;
        margin: 0rem 4rem;
}

.modal__close {
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        bottom: 50px;
        width: 32px;
        height: 32px;
        padding: 0;
        right: 0px;
}

.modal__video-align {
        display: flex;
        position: relative;
        bottom: 37px;
        position: relative;
}

.modal__video-style {
        border-radius: 20px;
        z-index: 100;
        width: 90vw;
        height: 54vh;
}

.modal__spinner {
        /* position: fixed; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 44%;
        top: -10rem;
}

.modal__spinner-style {
        margin: auto;
        width:90px;
}

.modal__spinner {
        animation: spin 2s linear infinite;
        font-size: 40px;
        color: #1b6aae;
}

@keyframes spin {
        0% {
                transform: rotate(0deg);
        }

        100% {
                transform: rotate(360deg);
        }
}

@media screen and (max-width: 800px) {
        .modal__content {
                margin: 0rem 1rem;
                width: 100%;
        }

        .modal__video-style {
                width: 100%;
        }
}

@media screen and (max-width: 499px) {
        .modal__content {
                background: transparent;
                height: auto;
        }

        .modal__video-align {
                bottom: 0px;
        }

        .modal__video-style {
                height: auto;
        }
        .modal__spinner {
                top: 50%;
                left: 50%;
                left: 45%;
                transform: translate(-50%, -50%);
                position: absolute;
                top: -22rem;
        }
        .modal__spinner-style {
                margin: auto;
                width:45px;
        }
        
}

iframe video {
        width: 100vw !important;
}